In [1]:
import numpy as np
import pandas as pd
from sklearn.cluster import KMeans
from sklearn.preprocessing import MinMaxScaler

In [2]:
data_df=pd.read_table('data.txt')

In [4]:
data_df

       国家队  世界杯  亚洲杯  世界杯2
0       中国   50    9    50
1       日本   28    4     9
2       韩国   17    3    15
3       伊朗   25    5    40
4       沙特   28    2    40
5      伊拉克   50    1    50
6      卡塔尔   50    9    40
7      阿联酋   50    9    40
8   乌兹别克斯坦   40    5    40
9       泰国   50    9    50
10      越南   50    5    50
11      阿曼   50    9    50
12      巴林   40    9    40
13      朝鲜   40   17    32
14      印尼   50    9    50

In [5]:
X = MinMaxScaler().fit_transform(data_df.iloc[0:,1:])

In [6]:
X

array([[ 1.        ,  0.5       ,  1.        ],
       [ 0.33333333,  0.1875    ,  0.        ],
       [ 0.        ,  0.125     ,  0.14634146],
       [ 0.24242424,  0.25      ,  0.75609756],
       [ 0.33333333,  0.0625    ,  0.75609756],
       [ 1.        ,  0.        ,  1.        ],
       [ 1.        ,  0.5       ,  0.75609756],
       [ 1.        ,  0.5       ,  0.75609756],
       [ 0.6969697 ,  0.25      ,  0.75609756],
       [ 1.        ,  0.5       ,  1.        ],
       [ 1.        ,  0.25      ,  1.        ],
       [ 1.        ,  0.5       ,  1.        ],
       [ 0.6969697 ,  0.5       ,  0.75609756],
       [ 0.6969697 ,  1.        ,  0.56097561],
       [ 1.        ,  0.5       ,  1.        ]])

In [7]:
clf=KMeans(n_clusters=3)

In [8]:
clf.fit(X)

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
    n_clusters=3, n_init=10, n_jobs=1, precompute_distances='auto',
    random_state=None, tol=0.0001, verbose=0)

In [9]:
labels = clf.labels_

In [10]:
labels

array([1, 0, 0, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1], dtype=int32)

In [11]:
data_df['class']=labels

In [12]:
data_df

       国家队  世界杯  亚洲杯  世界杯2  class
0       中国   50    9    50      1
1       日本   28    4     9      0
2       韩国   17    3    15      0
3       伊朗   25    5    40      2
4       沙特   28    2    40      2
5      伊拉克   50    1    50      1
6      卡塔尔   50    9    40      1
7      阿联酋   50    9    40      1
8   乌兹别克斯坦   40    5    40      1
9       泰国   50    9    50      1
10      越南   50    5    50      1
11      阿曼   50    9    50      1
12      巴林   40    9    40      1
13      朝鲜   40   17    32      1
14      印尼   50    9    50      1