In [18]:
import numpy as np
import pandas as pd

In [19]:
data = pd.read_csv('HR_comma_sep.csv')
data.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low

In [20]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14999 entries, 0 to 14998
Data columns (total 10 columns):
satisfaction_level       14999 non-null float64
last_evaluation          14999 non-null float64
number_project           14999 non-null int64
average_montly_hours     14999 non-null int64
time_spend_company       14999 non-null int64
Work_accident            14999 non-null int64
left                     14999 non-null int64
promotion_last_5years    14999 non-null int64
sales                    14999 non-null object
salary                   14999 non-null object
dtypes: float64(2), int64(6), object(2)
memory usage: 1.1+ MB

In [21]:
data.groupby(['promotion_last_5years'])['left'].count()

promotion_last_5years
0    14680
1      319
Name: left, dtype: int64

In [22]:
data.groupby(['promotion_last_5years'])['left'].sum()/data.groupby(['promotion_last_5years'])['left'].count()

promotion_last_5years
0    0.241962
1    0.059561
Name: left, dtype: float64

In [24]:
data.groupby(['sales'])['left'].count()

sales
IT             1227
RandD           787
accounting      767
hr              739
management      630
marketing       858
product_mng     902
sales          4140
support        2229
technical      2720
Name: left, dtype: int64

In [23]:
data.groupby(['sales'])['left'].sum()/data.groupby(['sales'])['left'].count()

sales
IT             0.222494
RandD          0.153748
accounting     0.265971
hr             0.290934
management     0.144444
marketing      0.236597
product_mng    0.219512
sales          0.244928
support        0.248991
technical      0.256250
Name: left, dtype: float64

In [25]:
data.groupby(['salary'])['left'].count()

salary
high      1237
low       7316
medium    6446
Name: left, dtype: int64

In [26]:
data.groupby(['salary'])['left'].sum()/data.groupby(['salary'])['left'].count()

salary
high      0.066289
low       0.296884
medium    0.204313
Name: left, dtype: float64

In [27]:
data.corr()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years
satisfaction_level,1.000000,0.105021,-0.142970,-0.020048,-0.100866,0.058697,-0.388375,0.025605
last_evaluation,0.105021,1.000000,0.349333,0.339742,0.131591,-0.007104,0.006567,-0.008684
number_project,-0.142970,0.349333,1.000000,0.417211,0.196786,-0.004741,0.023787,-0.006064
average_montly_hours,-0.020048,0.339742,0.417211,1.000000,0.127755,-0.010143,0.071287,-0.003544
time_spend_company,-0.100866,0.131591,0.196786,0.127755,1.000000,0.002120,0.144822,0.067433
Work_accident,0.058697,-0.007104,-0.004741,-0.010143,0.002120,1.000000,-0.154622,0.039245
left,-0.388375,0.006567,0.023787,0.071287,0.144822,-0.154622,1.000000,-0.061788
promotion_last_5years,0.025605,-0.008684,-0.006064,-0.003544,0.067433,0.039245,-0.061788,1.000000

In [28]:
from sklearn import preprocessing
scaler = preprocessing.StandardScaler() # 引入标准化类 
encer = preprocessing.OneHotEncoder() # one hot 编码

In [10]:
data_label = data[['left']]
data_train = data.drop(['left'],axis=1)

In [11]:
data_C = data_train[['sales','salary','Work_accident','promotion_last_5years']]
data_V = data_train.drop(['sales','salary','Work_accident','promotion_last_5years'],axis=1)

In [29]:
data_V.columns

Index(['satisfaction_level', 'last_evaluation', 'number_project',
       'average_montly_hours', 'time_spend_company'],
      dtype='object')

In [32]:
feature_C = encer.fit_transform(data_C)

In [33]:
feature_C = pd.DataFrame(feature_C.toarray(),columns=['C'+str(i) for i in range(feature_C.shape[1])])

In [34]:
feature_V = scaler.fit_transform(data_V)
feature_V = pd.DataFrame(feature_V,columns=['V'+str(i) for i in range(feature_V.shape[1])])

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/sklearn/preprocessing/data.py:625: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/sklearn/base.py:462: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)

In [35]:
feature_all = pd.concat([feature_V,feature_C],axis=1)

In [36]:
feature_all.head()

,V0,V1,V2,V3,V4,C0,C1,C2,C3,C4,...,C7,C8,C9,C10,C11,C12,C13,C14,C15,C16
0,-0.936495,-1.087275,-1.462863,-0.882040,-0.341235,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
1,0.752814,0.840707,0.971113,1.220423,1.713436,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0
2,-2.022479,0.957554,2.593763,1.420657,0.343655,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0
3,0.431041,0.899131,0.971113,0.439508,1.028546,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
4,-0.976716,-1.145699,-1.462863,-0.841993,-0.341235,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0

In [ ]:
# sample
# feature

In [37]:
## 选择模型和调参 RF
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV

In [38]:
rf = RandomForestClassifier(n_estimators=30, max_depth=8,max_features='sqrt' ,random_state=10,oob_score=True)

In [39]:
rf.fit(feature_all,data_label)

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=8, max_features='sqrt', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=30, n_jobs=None,
            oob_score=True, random_state=10, verbose=0, warm_start=False)

In [40]:
rf.oob_score_

0.970664710980732

In [72]:
# n_estimators
# max_depth

In [41]:
param_test1= {'n_estimators':range(10,71,10)}  
gsearch1= GridSearchCV(estimator = RandomForestClassifier(max_depth=8,max_features='sqrt' ,random_state=10),  
                       param_grid =param_test1, scoring='roc_auc',cv=3)

In [42]:
import warnings
warnings.filterwarnings("ignore")

In [43]:
gsearch1.fit(feature_all,data_label)

GridSearchCV(cv=3, error_score='raise-deprecating',
       estimator=RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=8, max_features='sqrt', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators='warn', n_jobs=None,
            oob_score=False, random_state=10, verbose=0, warm_start=False),
       fit_params=None, iid='warn', n_jobs=None,
       param_grid={'n_estimators': range(10, 71, 10)},
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring='roc_auc', verbose=0)

In [44]:
gsearch1.scorer_, gsearch1.best_params_, gsearch1.best_score_

(make_scorer(roc_auc_score, needs_threshold=True),
 {'n_estimators': 60},
 0.985741847687437)

In [46]:
# 微调 
param_test1= {'n_estimators':range(50,71,1)}  
gsearch1= GridSearchCV(estimator = RandomForestClassifier(max_depth=8,max_features='sqrt' ,random_state=10),  
                       param_grid =param_test1, scoring='roc_auc',cv=3) 

gsearch1.fit(feature_all,data_label)
gsearch1.scorer_, gsearch1.best_params_, gsearch1.best_score_

(make_scorer(roc_auc_score, needs_threshold=True),
 {'n_estimators': 56},
 0.9858714246583219)

In [47]:
# max_depth 调参
param_test1= {'max_depth':range(4,20,2)}  
gsearch1= GridSearchCV(estimator = RandomForestClassifier(n_estimators=56,max_features='sqrt' ,random_state=10),  
                       param_grid =param_test1, scoring='roc_auc',cv=3) 

gsearch1.fit(feature_all,data_label)
gsearch1.scorer_, gsearch1.best_params_, gsearch1.best_score_

(make_scorer(roc_auc_score, needs_threshold=True),
 {'max_depth': 14},
 0.9937368217241315)

In [48]:
outRF = RandomForestClassifier(n_estimators=56,max_features='sqrt',max_depth=14,oob_score=True)

In [49]:
outRF.fit(feature_all,data_label)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=14, max_features='sqrt', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=56, n_jobs=None,
            oob_score=True, random_state=None, verbose=0, warm_start=False)

In [50]:
outRF.oob_score_

0.9859323954930329