## Titanic 沉没

这是一个分类任务，特征包含离散特征和连续特征，数据如下：[Kaggle地址](https://www.kaggle.com/c/titanic/data)。目标是根据数据特征预测一个人是否能在泰坦尼克的沉没事故中存活下来。接下来解释下数据的格式：

```
survival        目标列，是否存活，1代表存活 (0 = No; 1 = Yes)  
pclass          乘坐的舱位级别 (1 = 1st; 2 = 2nd; 3 = 3rd)  
name            姓名 
sex             性别  
age             年龄  
sibsp           兄弟姐妹的数量（乘客中）  
parch           父母的数量（乘客中）  
ticket          票号  
fare            票价  
cabin           客舱  
embarked        登船的港口  
                (C = Cherbourg; Q = Queenstown; S = Southampton)

In [1]:
import pandas as pd
import numpy as np
from sklearn import preprocessing
pd.set_option("display.max_columns",60)

## 导入数据

In [2]:
train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")
IDtest = test["PassengerId"]

In [4]:
test.head(2)

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S

In [3]:
train.head(2)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C

In [5]:
train_len = len(train)
dataset =  pd.concat(objs=[train, test], axis=0).reset_index(drop=True)

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:2: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

## 查看数据

In [7]:
dataset.tail()

,Age,Cabin,Embarked,Fare,Name,Parch,PassengerId,Pclass,Sex,SibSp,Survived,Ticket
1304,NaN,NaN,S,8.0500,"Spector, Mr. Woolf",0,1305,3,male,0,NaN,A.5. 3236
1305,39.0,C105,C,108.9000,"Oliva y Ocana, Dona. Fermina",0,1306,1,female,0,NaN,PC 17758
1306,38.5,NaN,S,7.2500,"Saether, Mr. Simon Sivertsen",0,1307,3,male,0,NaN,SOTON/O.Q. 3101262
1307,NaN,NaN,S,8.0500,"Ware, Mr. Frederick",0,1308,3,male,0,NaN,359309
1308,NaN,NaN,C,22.3583,"Peter, Master. Michael J",1,1309,3,male,1,NaN,2668

In [8]:
dataset.dtypes

Age            float64
Cabin           object
Embarked        object
Fare           float64
Name            object
Parch            int64
PassengerId      int64
Pclass           int64
Sex             object
SibSp            int64
Survived       float64
Ticket          object
dtype: object

In [11]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 12 columns):
Age            1046 non-null float64
Cabin          295 non-null object
Embarked       1307 non-null object
Fare           1308 non-null float64
Name           1309 non-null object
Parch          1309 non-null int64
PassengerId    1309 non-null int64
Pclass         1309 non-null int64
Sex            1309 non-null object
SibSp          1309 non-null int64
Survived       891 non-null float64
Ticket         1309 non-null object
dtypes: float64(3), int64(4), object(5)
memory usage: 122.8+ KB

In [12]:
dataset.isnull().sum()

Age             263
Cabin          1014
Embarked          2
Fare              1
Name              0
Parch             0
PassengerId       0
Pclass            0
Sex               0
SibSp             0
Survived        418
Ticket            0
dtype: int64

## 特征分析

In [13]:
# pclass
train.groupby('Pclass')['Survived'].count()

Pclass
1    216
2    184
3    491
Name: Survived, dtype: int64

In [14]:
train.groupby('Pclass')['Survived'].sum()/train.groupby('Pclass')['Survived'].count()

Pclass
1    0.629630
2    0.472826
3    0.242363
Name: Survived, dtype: float64

In [15]:
enc_pclass = preprocessing.OneHotEncoder() # 引入onehot编码类
enc_pclass.fit(dataset[['Pclass']])

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/sklearn/preprocessing/_encoders.py:368: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)

OneHotEncoder(categorical_features=None, categories=None,
       dtype=<class 'numpy.float64'>, handle_unknown='error',
       n_values=None, sparse=True)

In [16]:
Pclass_feature = pd.DataFrame(enc_pclass.transform(dataset[['Pclass']]).toarray(),
                              columns={'Pclass'+str(i) for i in range(len(dataset['Pclass'].unique()))},dtype=int)

In [17]:
Pclass_feature.head()

   Pclass0  Pclass1  Pclass2
0        0        0        1
1        1        0        0
2        0        0        1
3        1        0        0
4        0        0        1

In [28]:
dataset[['Name']].head(2)

                                                Name
0                            Braund, Mr. Owen Harris
1  Cumings, Mrs. John Bradley (Florence Briggs Th...

In [25]:
# name
dataset_title = [i.split(",")[1].split(".")[0].strip() for i in dataset["Name"]] #提取姓名
dataset["Title"] = pd.Series(dataset_title)
dataset["Title"].head()

0      Mr
1     Mrs
2    Miss
3     Mrs
4      Mr
Name: Title, dtype: object

In [35]:
dataset.groupby(["Title"])['Name'].count() # 查看数据分布

Title
0     61
1    462
2    757
3     29
Name: Name, dtype: int64

In [32]:
dataset["Title"] = dataset["Title"].replace(
    ['Lady', 'the Countess','Countess','Capt', 
     'Col','Don', 'Dr', 'Major', 'Rev', 'Sir', 'Jonkheer', 'Dona'], 'Rare')

In [33]:
dataset["Title"] = dataset["Title"].map({"Master":0, "Miss":1, "Ms" : 1 , "Mme":1, "Mlle":1, "Mrs":1, "Mr":2, "Rare":3})
dataset["Title"] = dataset["Title"].astype(int)

In [34]:
dataset['Title'].unique()

array([2, 1, 0, 3])

In [36]:
enc_name = preprocessing.OneHotEncoder() # 引入onehot编码类
enc_name.fit(dataset[['Title']])

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/sklearn/preprocessing/_encoders.py:368: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)

OneHotEncoder(categorical_features=None, categories=None,
       dtype=<class 'numpy.float64'>, handle_unknown='error',
       n_values=None, sparse=True)

In [39]:
Name_feature = pd.DataFrame(enc_name.transform(dataset[['Title']]).toarray(),
                              columns=['Title'+str(i) for i in range(len(dataset['Title'].unique()))],dtype=int)

In [40]:
Name_feature.head()

   Title0  Title1  Title2  Title3
0       0       0       1       0
1       0       1       0       0
2       0       1       0       0
3       0       1       0       0
4       0       0       1       0

In [41]:
# sex
train.groupby('Sex')['Survived'].sum()/train.groupby('Sex')['Survived'].count()

Sex
female    0.742038
male      0.188908
Name: Survived, dtype: float64

In [46]:
train.groupby('Sex')['Survived'].count()

Sex
female    314
male      577
Name: Survived, dtype: int64

In [44]:
Sex_feature = pd.DataFrame(dataset['Sex'].map({'female':0,'male':1}).values,columns={'sex'})

In [45]:
Sex_feature.head()

   sex
0    1
1    0
2    0
3    0
4    1

In [50]:
dataset[['SibSp','Parch','Pclass']].head(2)

   SibSp  Parch  Pclass
0      1      0       3
1      1      0       1

In [47]:
# Age 填补缺失值
index_NaN_age = list(dataset["Age"][dataset["Age"].isnull()].index)

In [51]:
for i in index_NaN_age :
    age_med = dataset["Age"].median()
    age_pred = dataset["Age"][((dataset['SibSp'] == dataset.iloc[i]["SibSp"]) & (dataset['Parch'] == dataset.iloc[i]["Parch"]) & (dataset['Pclass'] == dataset.iloc[i]["Pclass"]))].median()
    if not np.isnan(age_pred) :
        dataset['Age'].iloc[i] = age_pred
    else :
        dataset['Age'].iloc[i] = age_med
        
### 利用其余特征来构建一个回归，age利用回归给出

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/pandas/core/indexing.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)
/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/numpy/lib/nanfunctions.py:1019: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)

In [52]:
Age_feature = dataset[['Age']]

In [54]:
Age_feature.head(3)

    Age
0  22.0
1  38.0
2  26.0

In [55]:
# SibSp
dataset['SibSp'].unique()

array([1, 0, 3, 4, 2, 5, 8])

In [56]:
dataset.groupby(['SibSp'])['Survived'].count()

SibSp
0    608
1    209
2     28
3     16
4     18
5      5
8      7
Name: Survived, dtype: int64

In [22]:
dataset.groupby(['SibSp'])['Survived'].sum()

SibSp
0    210.0
1    112.0
2     13.0
3      4.0
4      3.0
5      0.0
8      0.0
Name: Survived, dtype: float64

In [57]:
SibSp_feature = dataset[['SibSp']]
SibSp_feature['SibSp'] = np.where(SibSp_feature['SibSp']<2,SibSp_feature['SibSp'],2)

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [59]:
SibSp_feature.SibSp.unique()

array([1, 0, 2])

In [60]:
# Parch
train.groupby(['Parch'])['Survived'].count()

Parch
0    678
1    118
2     80
3      5
4      4
5      5
6      1
Name: Survived, dtype: int64

In [25]:
train.groupby(['Parch'])['Survived'].count()

Parch
0    678
1    118
2     80
3      5
4      4
5      5
6      1
Name: Survived, dtype: int64

In [63]:
Parch_feature = dataset[['Parch']]
Parch_feature['Parch'] = np.where(Parch_feature['Parch']>1,2,Parch_feature['Parch'])

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [64]:
Parch_feature.head()

   Parch
0      0
1      0
2      0
3      0
4      0

In [27]:
# ticket
dataset['Ticket'].unique()

array(['A/5 21171', 'PC 17599', 'STON/O2. 3101282', '113803', '373450',
       '330877', '17463', '349909', '347742', '237736', 'PP 9549',
       '113783', 'A/5. 2151', '347082', '350406', '248706', '382652',
       '244373', '345763', '2649', '239865', '248698', '330923', '113788',
       '347077', '2631', '19950', '330959', '349216', 'PC 17601',
       'PC 17569', '335677', 'C.A. 24579', 'PC 17604', '113789', '2677',
       'A./5. 2152', '345764', '2651', '7546', '11668', '349253',
       'SC/Paris 2123', '330958', 'S.C./A.4. 23567', '370371', '14311',
       '2662', '349237', '3101295', 'A/4. 39886', 'PC 17572', '2926',
       '113509', '19947', 'C.A. 31026', '2697', 'C.A. 34651', 'CA 2144',
       '2669', '113572', '36973', '347088', 'PC 17605', '2661',
       'C.A. 29395', 'S.P. 3464', '3101281', '315151', 'C.A. 33111',
       'S.O.C. 14879', '2680', '1601', '348123', '349208', '374746',
       '248738', '364516', '345767', '345779', '330932', '113059',
       'SO/C 14885', '3101278', 'W./C. 6608', 'SOTON/OQ 392086', '343275',
       '343276', '347466', 'W.E.P. 5734', 'C.A. 2315', '364500', '374910',
       'PC 17754', 'PC 17759', '231919', '244367', '349245', '349215',
       '35281', '7540', '3101276', '349207', '343120', '312991', '349249',
       '371110', '110465', '2665', '324669', '4136', '2627',
       'STON/O 2. 3101294', '370369', 'PC 17558', 'A4. 54510', '27267',
       '370372', 'C 17369', '2668', '347061', '349241',
       'SOTON/O.Q. 3101307', 'A/5. 3337', '228414', 'C.A. 29178',
       'SC/PARIS 2133', '11752', '7534', 'PC 17593', '2678', '347081',
       'STON/O2. 3101279', '365222', '231945', 'C.A. 33112', '350043',
       '230080', '244310', 'S.O.P. 1166', '113776', 'A.5. 11206',
       'A/5. 851', 'Fa 265302', 'PC 17597', '35851', 'SOTON/OQ 392090',
       '315037', 'CA. 2343', '371362', 'C.A. 33595', '347068', '315093',
       '363291', '113505', 'PC 17318', '111240', 'STON/O 2. 3101280',
       '17764', '350404', '4133', 'PC 17595', '250653', 'LINE',
       'SC/PARIS 2131', '230136', '315153', '113767', '370365', '111428',
       '364849', '349247', '234604', '28424', '350046', 'PC 17610',
       '368703', '4579', '370370', '248747', '345770', '3101264', '2628',
       'A/5 3540', '347054', '2699', '367231', '112277',
       'SOTON/O.Q. 3101311', 'F.C.C. 13528', 'A/5 21174', '250646',
       '367229', '35273', 'STON/O2. 3101283', '243847', '11813',
       'W/C 14208', 'SOTON/OQ 392089', '220367', '21440', '349234',
       '19943', 'PP 4348', 'SW/PP 751', 'A/5 21173', '236171', '347067',
       '237442', 'C.A. 29566', 'W./C. 6609', '26707', 'C.A. 31921',
       '28665', 'SCO/W 1585', '367230', 'W./C. 14263',
       'STON/O 2. 3101275', '2694', '19928', '347071', '250649', '11751',
       '244252', '362316', '113514', 'A/5. 3336', '370129', '2650',
       'PC 17585', '110152', 'PC 17755', '230433', '384461', '110413',
       '112059', '382649', 'C.A. 17248', '347083', 'PC 17582', 'PC 17760',
       '113798', '250644', 'PC 17596', '370375', '13502', '347073',
       '239853', 'C.A. 2673', '336439', '347464', '345778', 'A/5. 10482',
       '113056', '349239', '345774', '349206', '237798', '370373',
       '19877', '11967', 'SC/Paris 2163', '349236', '349233', 'PC 17612',
       '2693', '113781', '19988', '9234', '367226', '226593', 'A/5 2466',
       '17421', 'PC 17758', 'P/PP 3381', 'PC 17485', '11767', 'PC 17608',
       '250651', '349243', 'F.C.C. 13529', '347470', '29011', '36928',
       '16966', 'A/5 21172', '349219', '234818', '345364', '28551',
       '111361', '113043', 'PC 17611', '349225', '7598', '113784',
       '248740', '244361', '229236', '248733', '31418', '386525',
       'C.A. 37671', '315088', '7267', '113510', '2695', '2647', '345783',
       '237671', '330931', '330980', 'SC/PARIS 2167', '2691',
       'SOTON/O.Q. 3101310', 'C 7076', '110813', '2626', '14313',
       'PC 17477', '11765', '3101267', '323951', 'C 7077', '113503',
       '2648', '347069', 'PC 17757', '2653', 'STON/O 2. 3101293',
       '349227', '27849', '367655', 'SC 1748', '113760', '350034',
       '3101277', '350052', '350407', '28403', '244278', '240929',
       'STON/O 2. 3101289', '341826', '4137', '315096', '28664', '347064',
       '29106', '312992', '349222', '394140', 'STON/O 2. 3101269',
       '343095', '28220', '250652', '28228', '345773', '349254',
       'A/5. 13032', '315082', '347080', 'A/4. 34244', '2003', '250655',
       '364851', 'SOTON/O.Q. 392078', '110564', '376564', 'SC/AH 3085',
       'STON/O 2. 3101274', '13507', 'C.A. 18723', '345769', '347076',
       '230434', '65306', '33638', '113794', '2666', '113786', '65303',
       '113051', '17453', 'A/5 2817', '349240', '13509', '17464',
       'F.C.C. 13531', '371060', '19952', '364506', '111320', '234360',
       'A/S 2816', 'SOTON/O.Q. 3101306', '113792', '36209', '323592',
       '315089', 'SC/AH Basle 541', '7553', '31027', '3460', '350060',
       '3101298', '239854', 'A/5 3594', '4134', '11771', 'A.5. 18509',
       '65304', 'SOTON/OQ 3101317', '113787', 'PC 17609', 'A/4 45380',
       '36947', 'C.A. 6212', '350035', '315086', '364846', '330909',
       '4135', '26360', '111427', 'C 4001', '382651', 'SOTON/OQ 3101316',
       'PC 17473', 'PC 17603', '349209', '36967', 'C.A. 34260', '226875',
       '349242', '12749', '349252', '2624', '2700', '367232',
       'W./C. 14258', 'PC 17483', '3101296', '29104', '2641', '2690',
       '315084', '113050', 'PC 17761', '364498', '13568', 'WE/P 5735',
       '2908', '693', 'SC/PARIS 2146', '244358', '330979', '2620',
       '347085', '113807', '11755', '345572', '372622', '349251',
       '218629', 'SOTON/OQ 392082', 'SOTON/O.Q. 392087', 'A/4 48871',
       '349205', '2686', '350417', 'S.W./PP 752', '11769', 'PC 17474',
       '14312', 'A/4. 20589', '358585', '243880', '2689',
       'STON/O 2. 3101286', '237789', '13049', '3411', '237565', '13567',
       '14973', 'A./5. 3235', 'STON/O 2. 3101273', 'A/5 3902', '364848',
       'SC/AH 29037', '248727', '2664', '349214', '113796', '364511',
       '111426', '349910', '349246', '113804', 'SOTON/O.Q. 3101305',
       '370377', '364512', '220845', '31028', '2659', '11753', '350029',
       '54636', '36963', '219533', '349224', '334912', '27042', '347743',
       '13214', '112052', '237668', 'STON/O 2. 3101292', '350050',
       '349231', '13213', 'S.O./P.P. 751', 'CA. 2314', '349221', '8475',
       '330919', '365226', '349223', '29751', '2623', '5727', '349210',
       'STON/O 2. 3101285', '234686', '312993', 'A/5 3536', '19996',
       '29750', 'F.C. 12750', 'C.A. 24580', '244270', '239856', '349912',
       '342826', '4138', '330935', '6563', '349228', '350036', '24160',
       '17474', '349256', '2672', '113800', '248731', '363592', '35852',
       '348121', 'PC 17475', '36864', '350025', '223596', 'PC 17476',
       'PC 17482', '113028', '7545', '250647', '348124', '34218', '36568',
       '347062', '350048', '12233', '250643', '113806', '315094', '36866',
       '236853', 'STON/O2. 3101271', '239855', '28425', '233639',
       '349201', '349218', '16988', '376566', 'STON/O 2. 3101288',
       '250648', '113773', '335097', '29103', '392096', '345780',
       '349204', '350042', '29108', '363294', 'SOTON/O2 3101272', '2663',
       '347074', '112379', '364850', '8471', '345781', '350047',
       'S.O./P.P. 3', '2674', '29105', '347078', '383121', '36865',
       '2687', '113501', 'W./C. 6607', 'SOTON/O.Q. 3101312', '374887',
       '3101265', '12460', 'PC 17600', '349203', '28213', '17465',
       '349244', '2685', '2625', '347089', '347063', '112050', '347087',
       '248723', '3474', '28206', '364499', '112058', 'STON/O2. 3101290',
       'S.C./PARIS 2079', 'C 7075', '315098', '19972', '368323', '367228',
       '2671', '347468', '2223', 'PC 17756', '315097', '392092', '11774',
       'SOTON/O2 3101287', '2683', '315090', 'C.A. 5547', '349213',
       '347060', 'PC 17592', '392091', '113055', '2629', '350026',
       '28134', '17466', '233866', '236852', 'SC/PARIS 2149', 'PC 17590',
       '345777', '349248', '695', '345765', '2667', '349212', '349217',
       '349257', '7552', 'C.A./SOTON 34068', 'SOTON/OQ 392076', '211536',
       '112053', '111369', '370376', '330911', '363272', '240276',
       '315154', '7538', '330972', '2657', '349220', '694', '21228',
       '24065', '233734', '2692', 'STON/O2. 3101270', '2696', 'C 17368',
       'PC 17598', '2698', '113054', 'C.A. 31029', '13236', '2682',
       '342712', '315087', '345768', '113778', 'SOTON/O.Q. 3101263',
       '237249', 'STON/O 2. 3101291', 'PC 17594', '370374', '13695',
       'SC/PARIS 2168', 'SC/A.3 2861', '349230', '348122', '349232',
       '237216', '347090', '334914', 'F.C.C. 13534', '330963', '2543',
       '382653', '349211', '3101297', 'PC 17562', '359306', '11770',
       '248744', '368702', '19924', '349238', '240261', '2660', '330844',
       'A/4 31416', '364856', '347072', '345498', '376563', '13905',
       '350033', 'STON/O 2. 3101268', '347471', 'A./5. 3338', '11778',
       '365235', '347070', '330920', '383162', '3410', '248734', '237734',
       '330968', 'PC 17531', '329944', '2681', '13050', '367227',
       '392095', '368783', '350045', '211535', '342441',
       'STON/OQ. 369943', '113780', '2621', '349226', '350409', '2656',
       '248659', 'SOTON/OQ 392083', '17475', 'SC/A4 23568', '113791',
       '349255', '3701', '350405', 'S.O./P.P. 752', '347469', '110489',
       'SOTON/O.Q. 3101315', '335432', '220844', '343271', '237393',
       'PC 17591', '17770', '7548', 'S.O./P.P. 251', '2670', '2673',
       '233478', '7935', '239059', 'S.O./P.P. 2', 'A/4 48873', '28221',
       '111163', '235509', '347465', '347066', 'C.A. 31030', '65305',
       'C.A. 34050', 'F.C. 12998', '9232', '28034', 'PC 17613', '349250',
       'SOTON/O.Q. 3101308', '347091', '113038', '330924', '32302',
       'SC/PARIS 2148', '342684', 'W./C. 14266', '350053', 'PC 17606',
       '350054', '370368', '242963', '113795', '3101266', '330971',
       '350416', '2679', '250650', '112377', '3470', 'SOTON/O2 3101284',
       '13508', '7266', '345775', 'C.A. 42795', 'AQ/4 3130', '363611',
       '28404', '345501', '350410', 'C.A. 34644', '349235', '112051',
       'C.A. 49867', 'A. 2. 39186', '315095', '368573', '2676',
       'SC 14888', 'CA 31352', 'W./C. 14260', '315085', '364859',
       'A/5 21175', 'SOTON/O.Q. 3101314', '2655', 'A/5 1478', 'PC 17607',
       '382650', '2652', '345771', '349202', '113801', '347467', '347079',
       '237735', '315092', '383123', '112901', '315091', '2658',
       'LP 1588', '368364', 'AQ/3. 30631', '28004', '350408', '347075',
       '2654', '244368', '113790', 'SOTON/O.Q. 3101309', '236854',
       'PC 17580', '2684', '349229', '110469', '244360', '2675', '2622',
       'C.A. 15185', '350403', '348125', '237670', '2688', '248726',
       'F.C.C. 13540', '113044', '1222', '368402', '315083', '112378',
       'SC/PARIS 2147', '28133', '248746', '315152', '29107', '680',
       '366713', '330910', 'SC/PARIS 2159', '349911', '244346', '364858',
       'C.A. 30769', '371109', '347065', '21332', '17765',
       'SC/PARIS 2166', '28666', '334915', '365237', '347086',
       'A.5. 3236', 'SOTON/O.Q. 3101262', '359309'], dtype=object)

In [65]:
Ticket = []
for i in list(dataset.Ticket):
    if not i.isdigit() :
        Ticket.append(i.replace(".","").replace("/","").strip().split(' ')[0]) #Take prefix
    else:
        Ticket.append("X")

In [66]:
Ticket_feature = pd.DataFrame(Ticket,columns={'Ticket'})

In [67]:
Ticket_feature.groupby('Ticket')['Ticket'].count() # 数据偏差较大，不好处理，要么舍弃【大部分人的处理办法】，该特征选择从众原则吧。

Ticket
A            1
A4          10
A5          28
AQ3          1
AQ4          1
AS           1
C            8
CA          68
CASOTON      1
FC           3
FCC          9
Fa           1
LINE         4
LP           1
PC          92
PP           4
PPP          2
SC           2
SCA3         1
SCA4         2
SCAH         5
SCOW         1
SCPARIS     14
SCParis      5
SOC          8
SOP          1
SOPP         7
SOTONO2      3
SOTONOQ     24
SP           1
STONO       14
STONO2       7
STONOQ       1
SWPP         2
WC          15
WEP          4
X          957
Name: Ticket, dtype: int64

In [68]:
# Fare 
dataset["Fare"] = dataset["Fare"].fillna(dataset["Fare"].median())
Fare_feature = dataset[['Fare']]

In [70]:
Fare_feature.describe()

              Fare
count  1309.000000
mean     33.281086
std      51.741500
min       0.000000
25%       7.895800
50%      14.454200
75%      31.275000
max     512.329200

In [71]:
# Embarked
dataset["Embarked"].isnull().sum()

2

In [72]:
dataset.groupby(["Embarked"])['Fare'].count()

Embarked
C    270
Q    123
S    914
Name: Fare, dtype: int64

In [74]:
dataset["Embarked"] = dataset["Embarked"].fillna("S")

In [75]:
enc_Embarked = preprocessing.OneHotEncoder() # 引入onehot编码类
enc_Embarked.fit(dataset[['Embarked']])

OneHotEncoder(categorical_features=None, categories=None,
       dtype=<class 'numpy.float64'>, handle_unknown='error',
       n_values=None, sparse=True)

In [76]:
Embarked_feature = pd.DataFrame(enc_Embarked.transform(dataset[['Embarked']]).toarray(),
            columns={'Embarked'+str(i) for i in range(len(dataset['Embarked'].unique()))},dtype=int)

In [77]:
Embarked_feature.head()

   Embarked0  Embarked2  Embarked1
0          0          0          1
1          1          0          0
2          0          0          1
3          0          0          1
4          0          0          1

In [78]:
# Cabin
dataset["Cabin"].head()

0     NaN
1     C85
2     NaN
3    C123
4     NaN
Name: Cabin, dtype: object

In [81]:
dataset["Cabin"].unique()

array([nan, 'C85', 'C123', 'E46', 'G6', 'C103', 'D56', 'A6',
       'C23 C25 C27', 'B78', 'D33', 'B30', 'C52', 'B28', 'C83', 'F33',
       'F G73', 'E31', 'A5', 'D10 D12', 'D26', 'C110', 'B58 B60', 'E101',
       'F E69', 'D47', 'B86', 'F2', 'C2', 'E33', 'B19', 'A7', 'C49', 'F4',
       'A32', 'B4', 'B80', 'A31', 'D36', 'D15', 'C93', 'C78', 'D35',
       'C87', 'B77', 'E67', 'B94', 'C125', 'C99', 'C118', 'D7', 'A19',
       'B49', 'D', 'C22 C26', 'C106', 'C65', 'E36', 'C54',
       'B57 B59 B63 B66', 'C7', 'E34', 'C32', 'B18', 'C124', 'C91', 'E40',
       'T', 'C128', 'D37', 'B35', 'E50', 'C82', 'B96 B98', 'E10', 'E44',
       'A34', 'C104', 'C111', 'C92', 'E38', 'D21', 'E12', 'E63', 'A14',
       'B37', 'C30', 'D20', 'B79', 'E25', 'D46', 'B73', 'C95', 'B38',
       'B39', 'B22', 'C86', 'C70', 'A16', 'C101', 'C68', 'A10', 'E68',
       'B41', 'A20', 'D19', 'D50', 'D9', 'A23', 'B50', 'A26', 'D48',
       'E58', 'C126', 'B71', 'B51 B53 B55', 'D49', 'B5', 'B20', 'F G63',
       'C62 C64', 'E24', 'C90', 'C45', 'E8', 'B101', 'D45', 'C46', 'D30',
       'E121', 'D11', 'E77', 'F38', 'B3', 'D6', 'B82 B84', 'D17', 'A36',
       'B102', 'B69', 'E49', 'C47', 'D28', 'E17', 'A24', 'C50', 'B42',
       'C148', 'B45', 'B36', 'A21', 'D34', 'A9', 'C31', 'B61', 'C53',
       'D43', 'C130', 'C132', 'C55 C57', 'C116', 'F', 'A29', 'C6', 'C28',
       'C51', 'C97', 'D22', 'B10', 'E45', 'E52', 'A11', 'B11', 'C80',
       'C89', 'F E46', 'B26', 'F E57', 'A18', 'E60', 'E39 E41',
       'B52 B54 B56', 'C39', 'B24', 'D40', 'D38', 'C105'], dtype=object)

In [100]:
Cabin_feature = dataset[["Cabin"]]

In [79]:
Cabin_feature = Cabin_feature.fillna('X')

In [82]:
Cabin_feature['Cabin'] = Cabin_feature['Cabin'].map(lambda x: x[0])

In [83]:
Cabin_feature[Cabin_feature['Cabin'].isin(['G','T'])]='F'

In [84]:
enc_Cabin = preprocessing.OneHotEncoder() # 引入onehot编码类
enc_Cabin.fit(Cabin_feature[['Cabin']])
Cabin_feature = pd.DataFrame(enc_Cabin.transform(Cabin_feature[['Cabin']]).toarray(),
                             columns={'Cabin'+str(i) for i in range(len(Cabin_feature['Cabin'].unique()))},dtype=int)

In [85]:
Cabin_feature.head()

   Cabin1  Cabin5  Cabin2  Cabin6  Cabin4  Cabin3  Cabin0
0       0       0       0       0       0       0       1
1       0       0       1       0       0       0       0
2       0       0       0       0       0       0       1
3       0       0       1       0       0       0       0
4       0       0       0       0       0       0       1

In [86]:
#### new feature
# family size
dataset["Fsize"] = dataset["SibSp"] + dataset["Parch"] + 1

In [87]:
dataset.groupby(['Fsize'])['Survived'].count()

Fsize
1     537
2     161
3     102
4      29
5      15
6      22
7      12
8       6
11      7
Name: Survived, dtype: int64

In [88]:
dataset.groupby(['Fsize'])['Survived'].sum()/dataset.groupby(['Fsize'])['Survived'].count()

Fsize
1     0.303538
2     0.552795
3     0.578431
4     0.724138
5     0.200000
6     0.136364
7     0.333333
8     0.000000
11    0.000000
Name: Survived, dtype: float64

In [89]:
Fsize_feature = dataset[['Fsize']]

In [90]:
Fsize_feature['Fsize'] = np.where(Fsize_feature['Fsize']>=5,5,Fsize_feature['Fsize'])

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [91]:
Fsize_feature['Fsize'] = np.where((Fsize_feature['Fsize']<5)&(Fsize_feature['Fsize']>=2),2,Fsize_feature['Fsize'])

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [94]:
Fsize_feature['Fsize'].unique()

array([2, 1, 5])

In [97]:
## 整合所有特征
feature_list = ['Name_feature','Sex_feature','Age_feature','SibSp_feature','Parch_feature',
'Fare_feature','Embarked_feature','Cabin_feature','Fsize_feature']
baseinfo = dataset[['PassengerId','Survived']]
for iname in feature_list:
    baseinfo = pd.concat([baseinfo,eval(iname)],axis=1)

In [98]:
baseinfo.head()

,PassengerId,Survived,Title0,Title1,Title2,Title3,sex,Age,SibSp,Parch,Fare,Embarked0,Embarked2,Embarked1,Cabin1,Cabin5,Cabin2,Cabin6,Cabin4,Cabin3,Cabin0,Fsize
0,1,0.0,0,0,1,0,1,22.0,1,0,7.2500,0,0,1,0,0,0,0,0,0,1,2
1,2,1.0,0,1,0,0,0,38.0,1,0,71.2833,1,0,0,0,0,1,0,0,0,0,2
2,3,1.0,0,1,0,0,0,26.0,0,0,7.9250,0,0,1,0,0,0,0,0,0,1,1
3,4,1.0,0,1,0,0,0,35.0,1,0,53.1000,0,0,1,0,0,1,0,0,0,0,2
4,5,0.0,0,0,1,0,1,35.0,0,0,8.0500,0,0,1,0,0,0,0,0,0,1,1

In [99]:
baseinfo.shape

(1309, 22)

In [106]:
train_df = baseinfo[baseinfo['PassengerId'].isin(list(train['PassengerId']))]

In [107]:
test_df = baseinfo[baseinfo['PassengerId'].isin(list(test['PassengerId']))]

In [108]:
train_df.head()

,PassengerId,Survived,Title0,Title1,Title2,Title3,sex,Age,SibSp,Parch,Fare,Embarked0,Embarked2,Embarked1,Cabin1,Cabin5,Cabin2,Cabin6,Cabin4,Cabin3,Cabin0,Fsize
0,1,0.0,0,0,1,0,1,22.0,1,0,7.2500,0,0,1,0,0,0,0,0,0,1,2
1,2,1.0,0,1,0,0,0,38.0,1,0,71.2833,1,0,0,0,0,1,0,0,0,0,2
2,3,1.0,0,1,0,0,0,26.0,0,0,7.9250,0,0,1,0,0,0,0,0,0,1,1
3,4,1.0,0,1,0,0,0,35.0,1,0,53.1000,0,0,1,0,0,1,0,0,0,0,2
4,5,0.0,0,0,1,0,1,35.0,0,0,8.0500,0,0,1,0,0,0,0,0,0,1,1

In [109]:
test_df.head()

,PassengerId,Survived,Title0,Title1,Title2,Title3,sex,Age,SibSp,Parch,Fare,Embarked0,Embarked2,Embarked1,Cabin1,Cabin5,Cabin2,Cabin6,Cabin4,Cabin3,Cabin0,Fsize
891,892,NaN,0,0,1,0,1,34.5,0,0,7.8292,0,1,0,0,0,0,0,0,0,1,1
892,893,NaN,0,1,0,0,0,47.0,1,0,7.0000,0,0,1,0,0,0,0,0,0,1,2
893,894,NaN,0,0,1,0,1,62.0,0,0,9.6875,0,1,0,0,0,0,0,0,0,1,1
894,895,NaN,0,0,1,0,1,27.0,0,0,8.6625,0,0,1,0,0,0,0,0,0,1,1
895,896,NaN,0,1,0,0,0,22.0,1,1,12.2875,0,0,1,0,0,0,0,0,0,1,2

### 构建模型1 XGBOOST

In [113]:
import xgboost as xgb
from sklearn.model_selection import train_test_split

In [110]:
params={
    'eta': 0.3,
    'max_depth':3,   
    'min_child_weight':1,
    'gamma':0.1, 
    'subsample':0.8,
    'colsample_bytree':0.8,
    'booster':'gbtree',
    'objective': 'binary:logistic',
    'scale_pos_weight': 1,
    'silent':0 ,
    'eval_metric': 'auc'
}

In [111]:
Dtrain = train_df.iloc[0::,2::]
y_train = train_df[['Survived']]
Dtest = test_df.iloc[0::,2::]

In [114]:
Xtrain,Xvalid,ytrain,yvalid = train_test_split(Dtrain,y_train,test_size=0.3, random_state=42)
Xtrain = Xtrain.reset_index(drop=True)
Xvalid = Xvalid.reset_index(drop=True)
ytrain = ytrain.reset_index(drop=True)
yvalid = yvalid.reset_index(drop=True)

In [115]:
d_train = xgb.DMatrix(Xtrain, label=ytrain)
d_valid = xgb.DMatrix(Xvalid, label=yvalid)
all_train = xgb.DMatrix(Dtrain,label=y_train)
test = xgb.DMatrix(Dtest)

In [116]:
watchlist = [(d_train, 'train'), (d_valid, 'valid')]

In [117]:
model_bst = xgb.train(params, d_train, 30, watchlist, early_stopping_rounds=10, verbose_eval=1)

[22:07:51] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 14 extra nodes, 0 pruned nodes, max_depth=3
[0]	train-auc:0.831925	valid-auc:0.809807
Multiple eval metrics have been passed: 'valid-auc' will be used for early stopping.

Will train until valid-auc hasn't improved in 10 rounds.
[22:07:51] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 14 extra nodes, 0 pruned nodes, max_depth=3
[1]	train-auc:0.865525	valid-auc:0.851782
[22:07:51] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 14 extra nodes, 0 pruned nodes, max_depth=3
[2]	train-auc:0.871632	valid-auc:0.877948
[22:07:51] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 14 extra nodes, 0 pruned nodes, max_depth=3
[3]	train-auc:0.876469	valid-auc:0.885809
[22:07:51] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 12 extra nodes, 0 pruned nodes, max_depth=3
[4]	train-auc:0.878578	valid-auc:0.886355
[22:07:51] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 14 extra nodes, 0 pruned nodes, max_depth=3
[5]	train-auc:0.884022	valid-auc:0.886182
[22:07:51] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 14 extra nodes, 0 pruned nodes, max_depth=3
[6]	train-auc:0.886408	valid-auc:0.88535
[22:07:51] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 14 extra nodes, 0 pruned nodes, max_depth=3
[7]	train-auc:0.89098	valid-auc:0.888937
[22:07:51] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 10 extra nodes, 0 pruned nodes, max_depth=3
[8]	train-auc:0.892382	valid-auc:0.891863
[22:07:51] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 14 extra nodes, 0 pruned nodes, max_depth=3
[9]	train-auc:0.894188	valid-auc:0.897114
[22:07:51] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 12 extra nodes, 0 pruned nodes, max_depth=3
[10]	train-auc:0.90014	valid-auc:0.883371
[22:07:51] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 8 extra nodes, 0 pruned nodes, max_depth=3
[11]	train-auc:0.904044	valid-auc:0.886527
[22:07:51] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 12 extra nodes, 0 pruned nodes, max_depth=3
[12]	train-auc:0.90442	valid-auc:0.884805
[22:07:51] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 12 extra nodes, 0 pruned nodes, max_depth=3
[13]	train-auc:0.905551	valid-auc:0.882166
[22:07:51] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 14 extra nodes, 0 pruned nodes, max_depth=3
[14]	train-auc:0.910311	valid-auc:0.874562
[22:07:51] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 12 extra nodes, 0 pruned nodes, max_depth=3
[15]	train-auc:0.919058	valid-auc:0.863832
[22:07:51] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 10 extra nodes, 0 pruned nodes, max_depth=3
[16]	train-auc:0.92051	valid-auc:0.869312
[22:07:51] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 10 extra nodes, 0 pruned nodes, max_depth=3
[17]	train-auc:0.921073	valid-auc:0.871493
[22:07:51] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 10 extra nodes, 0 pruned nodes, max_depth=3
[18]	train-auc:0.923122	valid-auc:0.871952
[22:07:51] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 8 extra nodes, 0 pruned nodes, max_depth=3
[19]	train-auc:0.924933	valid-auc:0.868451
Stopping. Best iteration:
[9]	train-auc:0.894188	valid-auc:0.897114

In [118]:
params={
    'eta': 0.3,
    'max_depth':3,   
    'min_child_weight':1,
    'gamma':0.1, 
    'subsample':0.8,
    'colsample_bytree':0.8,
    'booster':'gbtree',
    'objective': 'binary:logistic',
    'scale_pos_weight': 1,
    'silent':0     
}

In [119]:
model_bst = xgb.train(params, all_train, 9)

[22:08:28] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 12 extra nodes, 0 pruned nodes, max_depth=3
[22:08:28] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 14 extra nodes, 0 pruned nodes, max_depth=3
[22:08:28] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 14 extra nodes, 0 pruned nodes, max_depth=3
[22:08:28] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 14 extra nodes, 0 pruned nodes, max_depth=3
[22:08:28] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 14 extra nodes, 0 pruned nodes, max_depth=3
[22:08:28] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 14 extra nodes, 0 pruned nodes, max_depth=3
[22:08:28] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 14 extra nodes, 0 pruned nodes, max_depth=3
[22:08:28] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 14 extra nodes, 0 pruned nodes, max_depth=3
[22:08:28] src/tree/updater_prune.cc:74: tree pruning end, 1 roots, 14 extra nodes, 0 pruned nodes, max_depth=3

In [285]:
# predict

test_Survived = pd.Series(model_bst.predict(test), name="Survived")

results = pd.concat([IDtest,test_Survived],axis=1)

results['Survived'] = np.where(results['Survived']>=0.5,1,0)

results.to_csv("ensemble_python_verone.csv",index=False)

### 构建模型2  XGBOOST +LR

In [120]:
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV
from sklearn.linear_model import LogisticRegression
from xgboost.sklearn import XGBClassifier

In [121]:
Dtrain = train_df.iloc[0::,2::].reset_index(drop=True)
y_train = train_df[['Survived']].reset_index(drop=True)
Dtest = test_df.iloc[0::,2::].reset_index(drop=True)

In [125]:
param_test1 = {
    'n_estimators':range(3,40,2)}
gsearch1 = GridSearchCV(estimator = XGBClassifier(learning_rate =0.3, max_depth=3,
                                        min_child_weight=1, gamma=0.1, subsample=0.8, colsample_bytree=0.8,
                                        objective= 'binary:logistic', nthread=4, scale_pos_weight=1,random_state=42), 
param_grid = param_test1, scoring='roc_auc',n_jobs=4, cv=5)
gsearch1.fit(Dtrain,y_train)

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/sklearn/preprocessing/label.py:219: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/sklearn/preprocessing/label.py:252: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

GridSearchCV(cv=5, error_score='raise-deprecating',
       estimator=XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bytree=0.8, gamma=0.1, learning_rate=0.3,
       max_delta_step=0, max_depth=3, min_child_weight=1, missing=None,
       n_estimators=100, n_jobs=1, nthread=4, objective='binary:logistic',
       random_state=42, reg_alpha=0, reg_lambda=1, scale_pos_weight=1,
       seed=None, silent=True, subsample=0.8),
       fit_params=None, iid='warn', n_jobs=4,
       param_grid={'n_estimators': range(3, 40, 2)},
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring='roc_auc', verbose=0)

In [126]:
gsearch1.scorer_, gsearch1.best_params_, gsearch1.best_score_

(make_scorer(roc_auc_score, needs_threshold=True),
 {'n_estimators': 11},
 0.8657790489854768)

In [127]:
best_paras = {
    'n_estimators': 11,
    'learning_rate': 0.3,
    'max_depth':3,   
    'min_child_weight':1,
    'gamma':0.1, 
    'subsample':0.8,
    'colsample_bytree':0.8,
    'booster':'gbtree',
    'objective': 'binary:logistic',
    'scale_pos_weight': 1,
    'random_state':42}

In [128]:
layer0_estimator = XGBClassifier(**best_paras)

In [129]:
layer0_estimator.fit(Dtrain,y_train)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bytree=0.8, gamma=0.1, learning_rate=0.3,
       max_delta_step=0, max_depth=3, min_child_weight=1, missing=None,
       n_estimators=11, n_jobs=1, nthread=None,
       objective='binary:logistic', random_state=42, reg_alpha=0,
       reg_lambda=1, scale_pos_weight=1, seed=None, silent=True,
       subsample=0.8)

In [130]:
X_train_leaves = layer0_estimator.apply(Dtrain)

In [132]:
X_train_leaves

array([[ 5,  5, 11, ..., 11,  8,  7],
       [ 7,  8,  3, ...,  9, 14,  9],
       [ 7,  7,  7, ...,  8,  8,  7],
       ...,
       [ 7,  8,  8, ...,  8,  8,  9],
       [11, 12,  9, ..., 11,  8,  9],
       [ 5,  5, 11, ..., 11,  8,  7]], dtype=int32)

In [133]:
X_train_leaves.shape

(891, 11)

In [131]:
X_test_leaves = layer0_estimator.apply(Dtest)

In [134]:
xgbenc = preprocessing.OneHotEncoder()
X_trans = xgbenc.fit_transform(X_train_leaves)
X_test = xgbenc.transform(X_test_leaves)

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/sklearn/preprocessing/_encoders.py:368: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)

In [135]:
X_trans

<891x82 sparse matrix of type '<class 'numpy.float64'>'
	with 9801 stored elements in Compressed Sparse Row format>

In [136]:
# new feature
Dtrain_new = pd.concat([pd.DataFrame(X_trans.toarray()),Dtrain],axis=1)
Dtest_new = pd.concat([pd.DataFrame(X_test.toarray()),Dtest],axis=1)

In [137]:
Dtrain_new.shape

(891, 102)

In [138]:
# 引入逻辑回归
lr = LogisticRegression(penalty='l2')

In [139]:
param_test1 = {
    'C':range(1,100,10)}
gsearch1 = GridSearchCV(estimator = LogisticRegression(penalty='l2',random_state=42), 
param_grid = param_test1, scoring='roc_auc',n_jobs=4, cv=5)
gsearch1.fit(Dtrain_new,y_train)

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/sklearn/utils/validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

GridSearchCV(cv=5, error_score='raise-deprecating',
       estimator=LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=42, solver='warn',
          tol=0.0001, verbose=0, warm_start=False),
       fit_params=None, iid='warn', n_jobs=4,
       param_grid={'C': range(1, 100, 10)}, pre_dispatch='2*n_jobs',
       refit=True, return_train_score='warn', scoring='roc_auc', verbose=0)

In [140]:
gsearch1.scorer_, gsearch1.best_params_, gsearch1.best_score_

(make_scorer(roc_auc_score, needs_threshold=True), {'C': 1}, 0.895956232911137)

In [142]:
best_paras = {'C':1,'penalty':'l2'}

In [143]:
lr = LogisticRegression(**best_paras)

In [144]:
lr.fit(Dtrain_new,y_train)

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/sklearn/utils/validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression(C=1, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [397]:
# predict

test_Survived = pd.Series(lr.predict(Dtest_new), name="Survived")

results = pd.concat([IDtest,test_Survived],axis=1)

results['Survived'] = np.where(results['Survived']>=0.5,1,0)

results.to_csv("ensemble_python_vertwo.csv",index=False)